{% extends 'connected-base.html.twig' %}

{% block title %}{{ 'page.products.title' | trans }}{% endblock %}

{% block content %}
    <div class="catalogs">
        {% embed './commons/information.html.twig' with {helperTitle: 'page.catalogs.information.helper-title'|trans } %}
            {%  block informationContent %}
                <p>{{ 'page.catalogs.information.content-1' | trans }}</p>
                <p>{{ 'page.catalogs.information.content-2' | trans }}</p>
                <p>{{ 'page.catalogs.information.content-3' | trans }}</p>
            {% endblock %}
        {% endembed %}

        <table class="table catalogs__list">
            <thead>
              <tr>
                  <th>{{ 'page.catalogs.list.header.catalog-name' | trans }}</th>
                  <th>{{ 'page.catalogs.list.header.status' | trans }}</th>
              </tr>
            </thead>
            <tbody>
            {% for catalog in catalogs %}
                <tr onclick="(event => {
                    if (this.querySelector('a.configure-link') !== event.target){
                        window.location= '{{ path('catalog', {catalogId: catalog.id}) }}';
                    }
                })(event)">
                    <td>{{ catalog.name }}</td>
                    <td>
                        <div class="catalogs__details">
                            <span class="badge badge{{ catalog.enabled ? '-primary' : '-danger' }}">
                            {{ (catalog.enabled ? 'page.catalogs.list.status.enabled' : 'page.catalogs.list.status.disabled') | trans }}
                            </span>
                            {% set helperMessage = (catalog.name is same as('Catalog with product value filters'))
                                ? 'page.catalogs.list.helpers.value-filters'
                                : 'page.catalogs.list.helpers.attribute-mapping'
                            %}
                            <span class="helper">{{ helperMessage | trans }}</span>
                            <a href="{{ app.session.get('pim_url') }}/connect/apps/v1/catalogs/{{ catalog.id }}" target="_blank" class="button configure-link">{{ 'page.catalogs.list.actions.configure' | trans }}</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
