{% extends 'base.html.twig' %}

{% block body %}
    <main class="connected-base">
        <header class="header">
            <img class="header__logo" src="{{ asset('build/images/logo-demoapp.svg') }}"
                 alt="{{ 'page.welcome.connect.logo_alt' | trans }}" />
            <nav class="main-navigation">
                <a href="https://apps.akeneo.com/extension/akeneo-demo-app" target="_blank" class="main-navigation__link main-navigation__link--external" >
                    {{ 'common.header.links.help' | trans }}
                </a>
                <a href="{{ app.session.get('pim_url') }}/connect/apps/v1/connected_app/{{ connected_app_id }}" target="_blank" class="main-navigation__link main-navigation__link--external">
                    {{ 'common.header.links.go-to-pim-url' | trans }}
                </a>
            </nav>
            <article class="user">
                {% set username = app.session.get('akeneo_pim_user_profile') ?? 'common.header.default_username' | trans %}
                <p class="user__name">{{ 'common.header.welcome' | trans({'%user%': username}) }}</p>
                <img src="{{ asset('build/images/logo.svg') }}" alt="profile logo" class="user__logo">
            </article>
        </header>
        {% block content %}{% endblock %}
    </main>
{% endblock %}
