{% extends 'connected-base.html.twig' %}
{% import './macros/localeToFlag.html.twig' as localeToFlag %}

{% block title %}{{ 'page.products.title' | trans }}{% endblock %}

{% block content %}
    <div class="products">
    <aside class="product-filters">
        <h3 class="product-filters__heading">{{ 'page.products.product-filters.filters' | trans }}</h3>
        <ol class="product-filters__list">
            <li class="product-filter">
                <h4 class="product-filter__label">{{ 'page.products.product-filters.locale' | trans }}</h4>
                <div class="product-filter__value current-locale">{{ localeToFlag.getFlag(locale) }}</div>
            </li>
        </ol>
    </aside>
    <section class="product-grid">
        <header class="product-grid__header">

            <div class="product-searchbar">
                <div class="product-searchbar__container">
                    <img class="product-searchbar__icon" src="{{ asset('build/images/search.svg') }}" alt="{{ 'page.products.product-searchbar.icon-alt' | trans }}" />
                    <input class="product-searchbar__input" type="text" disabled="disabled" placeholder="{{ 'page.products.product-searchbar.placeholder' | trans }}">
                    <button class="product-searchbar__button" disabled="true" aria-disabled="true" role="button" type="button" >{{ 'page.products.product-searchbar.search' | trans }}</button>
                    <div class="product-searchbar__separator"></div>
                    <span class="product-searchbar__result-count">{{ 'page.products.product-searchbar.count-results' | trans({'%count%': products|length}) }}</span>
                </div>
            </div>

            {% embed './commons/information.html.twig' with {helperTitle: 'page.products.information.helper-title' | trans({'%count%': products|length}) } %}
                {%  block informationContent %}
                    {{ 'page.products.information.content' | trans }}
                {% endblock %}
            {% endembed %}

        </header>

        <div class="product-grid__{{ products|length > 0 ? 'list' : 'no-products' }}">
            {% for product in products %}
                <article class="product-card">
                    <a href="{{ path('product', {identifier: product.identifier}) }}">
                        <div class="product-card__image">
                            <div class="product-card__image__container">
                                <img src="{{ asset('build/images/ziggy.png') }}" alt="{{ product.label }}" />
                            </div>
                        </div>
                        <p class="product-card__title">{{ product.label }}</p>
                    </a>
                </article>
            {% else %}
                <section class="no-products">
                    <img class="no-products__illustration"
                         src="{{ asset('build/images/draft.svg') }}"
                         alt="{{ 'page.error.illustration_alt' | trans }}">
                    <h3 class="no-products__title">{{ 'page.products.no-products.title' | trans }}</h3>
                    <p class="no-products__description">{{ 'page.products.no-products.description' | trans }}</p>
                    <a href="{{ app.session.get('pim_url') }}/connect/apps/v1/catalogs/{{ catalog.id }}"
                       target="_blank"
                       class="no-products__catalog-button">
                        {{ 'page.products.no-products.catalog-button' | trans }}
                    </a>
                </section>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
